/* =============================================================

    Bar Graph v1.1
    A small bit of CSS for adding bar graphs to your website by Chris Ferdinandi.
    http://gomakethings.com

    Free to use under the MIT License.
    http://gomakethings.com/mit/
    
 * ============================================================= */

/*  The wrapper for the bar */
.graph {
    height: 1.529411765em;
    margin-bottom: .470588235em;
    overflow: hidden;
    background-color: #e5e5e5;
    border-radius: .071428571em;
    text-align: center;
}

/*  The actual bar itself */
.graph-bar {
    float: left;
    width: 0;
    height: 100%;
    color: #ffffff;
    background-color: #0088cc;
    -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
            box-sizing: border-box;
}

/*  Alternate color for stacked graphs */
.graph-bar-alt {
    background-color: #005580;
}
